.board {
	&Header {
		display: flex;
		align-items: center;
		// justify-content: center;
		gap: 15px;
		margin-bottom: 20px;
		div {
			display: flex;
			gap: 10px;
		}
	}
	&Title {
		color: hsl(233, 60%, 44%);
	}
	.columnContainer {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 30px;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		white-space: nowrap;
	}
}
