.inputWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 5px;

	input {
		outline: none;
		border: none;
		padding: 10px 0;
		&::placeholder {
			color: #000;
			font-size: 0.9em;
		}
	}

	.toolbar {
		display: flex;
		justify-items: start;
		gap: 10px;
		button {
			border: none;
			background: transparent;
			cursor: pointer;
		}
	}

	.inputForm {
		display: flex;
		flex-direction: row;
		align-items: start;
		gap: 2px;
	}
}
