.column {
	display: flex;
	flex-direction: column;
	position: relative;
	cursor: grab;
	max-width: 400px;
	background: hsl(218deg 50% 91%);
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	&Title {
		font-size: 24px;
		color: hsl(233, 60%, 44%);
	}
	&Header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;
	}
	&ActionsBtn {
		display: flex;
		gap: 10px;
		.editBtn {
			cursor: pointer;
		}
		.deleteBtn {
			cursor: pointer;
		}
	}
	.taskInput {
		padding: 8px;
		border: 1px solid #ccc;
		border-radius: 5px;
		margin-bottom: 10px;
	}
}
