.form {
	width: 400px;
	padding: 30px 20px;
	background: hsl(213deg 85% 97%);
	border-radius: 20px;
	&__logo {
		width: 350px;
	}
	&__title {
		font-size: 36px;
		font-weight: 600;
		color: black;
		text-align: left;
		margin-bottom: 5px;
	}
	&__desc {
		color: black;
		opacity: 80%;
	}
	&__input {
		width: 300px;
		font-family: "Poppins", serif;
	}
	&__input::placeholder{
		font-family: "Poppins", serif;
	}
	&__header{
		display: flex;
		justify-content: center;
		height: 150px;
	}
	
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
		.emailBlock,
		.userNameBlock {
			margin-bottom: 50px;
		}
		.emailBlock,
		.passwordBlock,
		.userNameBlock {
			background: hsl(0deg 0% 100%);
			box-shadow: 0 0 2em hsl(231deg 62% 94%);
			padding: 1em;
			display: flex;
			flex-direction: column;
			gap: 0.5em;
			border-radius: 20px;
			color: hsl(0deg 0% 30%);
			margin-top: -3em;
			input {
				outline: none;
				border: none;
				&::placeholder {
					color: hsl(0deg 0% 0%);
					font-size: 0.9em;
				}
			}
		}
	}
	.inputWrapper {
		display: flex;
		gap: 5px;
		width: 333px;
		div input{
			padding: 10px 0;
		}
	}
	.button {
		width: 350px;
		padding: 1em;
		margin-bottom: 20px;
		background: hsl(233deg 36% 38%);
		color: hsl(0 0 100);
		border: none;
		border-radius: 30px;
		font-weight: 600;
		cursor: pointer;
	}
	.link {
		margin-bottom: 20px;
	}
}
