.modalBg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	&::before {
		content: '';
		background: #333;
		opacity: 0.8;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
	}
}

.modal {
	width: 1000px;
	background: hsl(218deg 50% 91%);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 12px;
	padding: 20px;
	z-index: 1000;
	opacity: 1;

	&Title {
		color: hsl(233, 60%, 44%);
	}
	&Header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 50px;
		.closeModalBtn {
			cursor: pointer;
		}
	}

	.taskTitle {
		background: #fff;
		box-shadow: 0 0 2em hsl(231deg 62% 94%);
		padding: 1em;
		display: flex;
		flex-direction: column;
		gap: 0.5em;
		border-radius: 20px;
		color: hsl(0deg 0% 30%);
		margin-top: -3em;
	}

	.buttonWrapper {
		display: flex;
		justify-content: end;
	}

	.modalButton {
		width: 500px;
		margin-top: 20px;
	}
}
.editorTitle {
	outline: none;
	width: 900px;
}
