.sidebar {
	height: 100vh;
	.sidebarHeader {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 105px;
		.sidebarLogo {
			width: 250px;
			cursor: pointer;
		}
	}
	.menu {
		margin-top: 20px;
	}
}
