.footer {
	display: flex;
	height: 75px;
	width: 100%;
	background: linear-gradient(90deg, #3288ff, #dbdbff);
	line-height: 1.3;
	font-family: Menlo, monospace;
	border-radius: 8px;
	&__content {
		display: inline-grid;
		grid-auto-flow: row;
		grid-gap: 24px;
		justify-items: center;
		margin: auto;
		&__items:last-child {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
		}
		&__items:hover ~ &__items p {
			animation: wave-animation 0.3s infinite;
		}
	}
	&__links {
		color: white;
		text-decoration: none;
		box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
	}
	&__links:hover{
		color: black;
	}
	@media (min-width: 500px) {
		&__content {
			grid-auto-flow: column;
		}
	}
}

@keyframes wave-animation {
	0%,
	100% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(20deg);
	}
	75% {
		transform: rotate(-15deg);
	}
}
